@media (prefers-color-scheme: dark) {
  :root {
    color: white;
    background-color: black;
  }
}

:root {
  font-family: monospace;
  font-size: 1.25rem;
}

body {
  margin: 0rem;
}

#application {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  width: 100vw;
  height: 100vh;
}

s3-browser {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 0.5rem;
}

s3-browser > a {
  color: inherit;
}

s3-browser > span {
  text-align: right;
}
